* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

header {
    /* background-color: gray; */
    padding: 2rem;
}

.container {
    width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    /* height: 100vh; */
    border: 0.1rem solid rgb(53, 53, 53);
    border-radius: 1rem;
}

.dataIn {
    padding: 2rem 0;
}

#addEntry {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 18, 184, 0.333);
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
}

#addEntry:hover {
    background-color: rgb(214, 81, 81);
}

#inputField {
    /* background-color: red; */
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.35rem;
}

#inputField:hover {
    border: 0.1rem solid rgb(214, 81, 81);
    cursor: pointer;
}

@media (max-width: 800px) {
    .container {
        width: 35rem;
        margin: 2rem auto;
        padding: 2rem;
        /* height: 100vh; */
        border: 0.1rem solid rgb(53, 53, 53);
        border-radius: 1rem;
    }
}

@media (max-width: 500px) {
    .container {
        width: 15.5rem;
        margin: 2rem auto;
        padding: 2rem;
        /* height: 100vh; */
        border: 0.1rem solid rgb(53, 53, 53);
        border-radius: 1rem;
    }
}